<div class="gallery">
    <div class="card-panel">
        <span class="blue-text text-darken-2"></span>
    </div>

  <div *ngFor="let g of galleryInfo | async">{{g}}</div>



    <!-- <div *ngFor="let p of photos | async">
    {{p.caption}}
    </div> -->


    <div class="row">
        <div *ngFor="let photo of photos | async; index as i">
            <div class="row" *ngIf="i%4 === 0"> </div>
            <div class="col s12 m6 l3">
                <img class="materialboxed" attr.data-caption="{{photo.caption}}" width="400" src="{{photo.name}}" materialize="materialbox"
                />
            </div>

        </div>
    </div>



    </div>
    <script>
        $(document).ready(function () {
            $('.materialboxed').materialbox();
        });

    </script>