<h3>Education</h3>

<ul class="collapsible" data-collapsible="accordion" materialize="collapsible">
    <li>
      <div class="collapsible-header">
        <i class="large material-icons">school</i>
        Education
        </div>
      <div class="collapsible-body">
      
          <ul class="collection">
      <li class="collection-item avatar">
       
        <span class="title">University of Texas at El Paso, El Paso Texas</span>
        <p>Bachelors in Computer Science<br>
          2013
        </p>
        <div class="secondary-content"></div>
      </li>   
    </ul>
      </div>
    </li>
  
  </ul>
  