img.circle {
  max-width:50%;
  max-height:50%;
}

ul.a {
  list-style: circle; 
  padding-left: 25px;
  line-height: 200%;
}

span.title {
  font-weight: bold;
}

img.utep {
  width: 100%;   
  }




