

 <div class="row">
    
    <div class="col s12"><p></p></div>
  
  </div>


     <div class="row">
      <div class="col s12 m5">
        <div class="card-panel grey darken-1">
          <span class="white-text"><h4>
            {{Description}}  </h4>
          </span>
        </div>
      </div>
      <div class="col s12 m7">{{Bio}}</div>
   
      
<div class="row">
      <div class="col s12"><h3 class="center-align">Let's get started, a couple of fun things to look at!</h3></div>
</div>
  <div class="container">
<div class="row">
    
    <div class="col s3 hoverable">
        <a href="#" routerLink="/photos"><img class="homeicons" src="../../assets/images/camera.JPG"> </a>
        <div class="card-panel red">
          <span class="white-text center"><h4>Photos</h4></span>
          <span  class="white-text">Photos I have taken with my Alpha Sony around the DFW area.</span>
        </div>
      </div>

      <div class="col s1"></div>
    

      <div class="col s3 hoverable">
          <a href="https://github.com/andredlcruz/myprofile"><img class="homeicons" src="../../assets/images/github.jpg"></a> 
          <div class="card-panel orange">
            <span class="white-text center"><h4>My Code</h4></span>
            <span  class="white-text">My github account and my code for this website.</span>
          </div>
        </div>

        <div class="col s1"></div>

        <div class="col s3 hoverable">
            <a href="#" routerLink="/dashboard"><img class="homeicons" src="../../assets/images/dashboard.jpg"></a>
            <div class="card-panel blue">
              <span class="white-text center"><h4>Dashboard</h4></span>
              <span  class="white-text"> I  will used my football fantasy league as a start to recreate a dashboard.</span>
            </div>
          </div>
</div>
         

</div>