

<!-- <mat-grid-list cols="1" rowHeight="2:1">

<mat-grid-tile class="new-york"></mat-grid-tile>
</mat-grid-list> -->

     

      <div class="row banner valign-wrapper" >
        <div class="col s6 valign-wrapper">
          <div>
              <h4 class="white-text">{{Description}} </h4>
              <p class="white-text">{{Bio}}</p>
          </div>
        </div>

        <div class="col s6"> <div class="card">
                <div class="card-image">
                  <img src="../../assets/images/homepage_me.jpg">
                 
                </div>
             
              
              </div></div>
</div>


 <home-info></home-info> 
 <home-skill></home-skill>
 <footer></footer>
 

   